<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.au575154coronatracker2">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_batman"
        android:label="au575154 Corona Tracker 2"
        android:roundIcon="@mipmap/ic_launcher_batman_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Views.NotificationService"
            android:enabled="true"
            android:exported="false"></service>

        <activity android:name=".Views.DetailsActivity" />
        <activity android:name=".Views.EditActivity" />
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>